<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>тут автор</strong>
    <small>12/09/2019</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eos, facilis nemo numquam officiis repellat sit ut velit vitae voluptatem? Asperiores atque aut deleniti distinctio eaque eum eveniet exercitationem, facilis fugiat ipsa laudantium minus mollitia natus neque nobis provident, quaerat sit? Ab consequatur dicta explicabo ipsum maiores pariatur placeat voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eos, facilis nemo numquam officiis repellat sit ut velit vitae voluptatem? Asperiores atque aut deleniti distinctio eaque eum eveniet exercitationem, facilis fugiat ipsa laudantium minus mollitia natus neque nobis provident, quaerat sit? Ab consequatur dicta explicabo ipsum maiores pariatur placeat voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eos, facilis nemo numquam officiis repellat sit ut velit vitae voluptatem? Asperiores atque aut deleniti distinctio eaque eum eveniet exercitationem, facilis fugiat ipsa laudantium minus mollitia natus neque nobis provident, quaerat sit? Ab consequatur dicta explicabo ipsum maiores pariatur placeat voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid eos, facilis nemo numquam officiis repellat sit ut velit vitae voluptatem? Asperiores atque aut deleniti distinctio eaque eum eveniet exercitationem, facilis fugiat ipsa laudantium minus mollitia natus neque nobis provident, quaerat sit? Ab consequatur dicta explicabo ipsum maiores pariatur placeat voluptatum!</p>
  </div>
</div>
